@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}

ul, ol {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.page-header {
  width: 1200px;
  height: 64px;
  background-color: #ffffff;
}

.navigation {
  display: flex;
}

.logo-anchor {
  margin-left: 70px;
  z-index: 999;
}

.navigation-list {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 28px;
}

.navigation-item {
  width: fit-content;
}

.navigation-anchor{
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.favourites-list {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.favourites-item {
  width: fit-content;
  padding: 22px 12px;
}

.favourites-anchor {
  text-decoration: none;
}

.button {
  border-radius: 4px;
  padding: 8px 50px;
  background-color: #756157;
  color: #ffffff;
}

.button-want-here {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 70px;
  border-radius: 4px;
  padding: 8px 50px;
  width: fit-content;
  height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.count-likes {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  background-color: #7db54f;
  color: #ffffff;
}

.main-index {
  flex-grow: 1;
  width: 1200px;
}

.intro {
  background: url("../images/background/divider.png"), url("../images/background/index-background.jpg");
  background-size: 100%, cover;
  background-position: center bottom, center center;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.uppercase {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.uppercase-light {
    color: #ffffff;
}

.uppercase-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.uppercase-2-light {
  color: #ffffff;
}

.description {
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #333333;
}

.description-light {
  color: #ffffff;
}

.description-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  text-align: center;
  color: #333333;
}

.description-2-light {
  color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  height: 385px;
  border: none;
  background-color: rgba(131, 179, 211, 1.0);
  color: #ffffff;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-photo {
  width: 800px;
}

.advantages-item-wrapper {
  padding: 103px 85px;
}

.underliner {
  width: 60px;
  height: 2px;
}

.photo {
  margin: 0;
  padding: 0;
}

.advantages-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.conditions-header {
  padding: 64px 0px;
  width: 1200px;
  height: 246px;
  background-color: #ffffff;
}

.conditions-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.conditions-item-wrapper {
  width: 400px;
  height: 385px;
  padding-top: 183px;
  padding-left: 85px;
  padding-right: 85px;
  background-size: auto;
  background-position: top 81px center;
  background-repeat: no-repeat;
}

.house-icon {
  background-image: url("../images/background/house.svg");
  background-color: rgba(131, 179, 211, 0.12);
}

.food-icon {
  background-image: url("../images/background/food.svg");
  background-color: #ffffff;
}

.souvenir-icon {
  background-image: url("../images/background/souvenir.svg");
  background-color: rgba(131, 179, 211, 0.12);
}

.booking {
  padding: 96px 304px;
  width: 1200px;
  height: 406px;
  background-color: #ffffff;
}

.button-search-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.subscription {
  padding: 96px 258px 104px 258px;
  width: 1200px;
  height: 414px;
  background-color: #ffffff;
}

.subscription-backgrounded {
  background-image: url("../images/background/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.subscription-uppercase {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer {
  width: 1200px;
  height: 120px;
  background-color: #ffffff;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
  background-color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 142px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.email {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #000000;
  opacity: 0.6;
}

.button-subscribe {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  width: 232px;
  height: 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.social-item a{
  text-decoration: none;
}

.social-vk {
  width: 47px;
  height: 40px;
  background-image: url("../images/social-vk.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.social-telegram {
  width: 47px;
  height: 40px;
  background-image: url("../images/social-telegram.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.social-youtube {
  width: 47px;
  height: 40px;
  background-image: url("../images/social-youtube.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.htmlacademy-logo {
  width: 115px;
  height: 33px;
  background-image: url("../images/logo-html.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.phone {
  font-family: inherit;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

/* catalog page */

.main-catalog {
  flex-grow: 1;
}

.search-input {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  background: url("../images/background/filter.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.booking-form {
  display: flex;
  justify-content: space-between;
}

.catalog-heading {
  text-align: left;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  color: #ffffff;
}

.breadcrumbs-wrapper {
  width: 114px;
  height: 21px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: #ffffff;
}

.breadcrumbs-item {
  display: inline;
  margin: 0;
  padding: 0;
}

.catalog-fieldset {
  width: 150px;
  height: 157px;
  border: 0;
  text-align: left;
}

.catalog-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-option {
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  text-transform: capitalize;
  color: #ffffff;
}

.button-apply {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.button-reset {
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
}

.select-control {
  border: 2px solid;
  border-radius: 4px;
  padding: 14px 20px;
  width: 292px;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333333;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card a{
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #000000;
}

.hotel-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333333;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 117%;
  color: #333333;
}

.button-favourites {
  border-radius: 4px;
  padding: 8px 50px;
  background-color: #82b3d3;
  color: #ffffff;
}

.hotel-card-rating {
  width: 300px;
  height: 37px;
}

.stars-4 {
  width: 140px;
  height: 37px;
  background-image: url("../images/background/stars-4.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #ffffff;
}

.stars-3 {
  width: 140px;
  height: 37px;
  background-image: url("../images/background/stars-3.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #ffffff;
}

.stars-2 {
  width: 140px;
  height: 37px;
  background-image: url("../images/background/stars-2.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #ffffff;
}

.hotel-card-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}
